footer.footer 
  .footer__logo 
    img(src='/img/jian_icon.png' alt='logo')
  ul.footer__nav 
    li: a(href='https://space.bilibili.com/152453065') Bilibili
    li: a(href='https://www.linkedin.com/in/yuewei-jian/') LinkedIn
    li: a(href='#') TBA
    li: a(href='#') TBA
    li: a(href='#') TBA
  p.footer__copyright &copy; by Yuewei JIan. This site is only for sharing host's post.