footer.d-flex.flex-wrap.justify-content-between.align-items-center.py-3.my-4.border-top
  p.col-md-4.mb-0.text-muted &copy; by Yuewei Jian. This site is only for sharing host's posts.
  .col-md-4.d-flex.align-items-center.justify-content-center.mb-3.mb-md-0.me-md-auto
    img.mx-auto(src='/img/jian_icon.png' alt='logo' height='36')
  ul.nav.col-md-4.justify-content-end
    li.nav-item
      a.nav-link.px-2.text-muted(href='https://space.bilibili.com/152453065') Bilibili
    li.nav-item
      a.nav-link.px-2.text-muted(href='https://www.linkedin.com/in/yuewei-jian') LinkedIn
    li.nav-item
      a.nav-link.px-2.text-muted(href='#') TBA
    li.nav-item
      a.nav-link.px-2.text-muted(href='#') TBA
    li.nav-item
      a.nav-link.px-2.text-muted(href='#') TBA





//- footer.footer 
//-   .footer__logo 
//-     img(src='/img/jian_icon.png' alt='logo')
//-   ul.footer__nav 
//-     li: a(href='https://space.bilibili.com/152453065' target="_blank") Bilibili
//-     li: a(href='https://www.linkedin.com/in/yuewei-jian/' target="_blank") LinkedIn
//-     li: a(href='#') TBA
//-     li: a(href='#') TBA
//-     li: a(href='#') TBA
//-   p.footer__copyright &copy; by Yuewei Jian. This site is only for sharing host's post.