header.d-flex.flex-wrap.align-items-center.justify-content-between.py-3.mb-4.border-bottom.text-center
  .ul.nav.justify-content-between.fs-5.col-4
    li
      a.nav-link.link-secondary(href="/") Home
    //- li
    //-   a.nav-link.link-dark(href='#') Features
    //- li
    //-   a.nav-link.link-dark(href='#') Pricing
    //- li
    //-   a.nav-link.link-dark(href='#') FAQs
    //- li
    //-   a.nav-link.link-dark(href='#') About
  .center-block.img-responsive.col-4
    img.mx-auto(src='/img/jian_icon.png' alt='logo' height='36')
  
  if user
    .col-1.offset-3
      .dropdown.text-end
        a.d-block.link-dark.text-decoration-none.dropdown-toggle(href='#' data-bs-toggle='dropdown' aria-expanded='false')
          img.rounded-circle(src='api/v1/users/getUserPhoto' alt=`${user.name}` width='32' height='32')
        ul.dropdown-menu.text-small
          li
            a.dropdown-item(href='/me') Settings
          li
            hr.dropdown-divider
          li
            a.nav__el--logout.dropdown-item(href='#') Sign out
  else
    .text-end.col 
      a(href='/login')
        button.btn.btn-outline-primary(type='button') Login
      a(href='#')
        button.btn.btn-primary(type='button') Sign-up
      








//- .container
//-   header.header
//-     nav.nav.nav--tours.navbar-fixed-top
//-       a.item-text.nav__el(href="/") Home 
//-     .header__logo
//-       img.img-responsive(src='/img/jian_icon.png' alt='logo')
//-     nav.nav.nav--user.navbar-fixed-top
//-       if user
//-         a.item-text.nav__el.nav__el--logout(href="#") Log out
//-         a.item-text.nav__el(href='/me')
//-           img.nav__user-img(src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`)
//-           span= user.name.split(' ')[0]
//-       else
//-         a.item-text.nav__el(href='/login') Log in
//-         a.item-text.nav__el.nav__el--cta(href='#')  Sign up