extends base

block content
  - if (user && user.role === 'admin')
    button.btn.btn-primary(type='button' data-bs-toggle='modal' data-bs-target='#uploadModal')
      | Upload photos
  .album.py-5.bg-light
      #anchor.container
        .row.row-cols-1.row-cols-sm-2.row-cols-md-3.g-3
          each photo in photos
            .col
              .card.shadow-sm
                img.img-responsive.card-img-top(src=`https://yjphotos.s3.us-west-1.amazonaws.com/${photo.name}` width="20%" height="auto" data-bs-toggle="modal" data-bs-target="#previewModal" data-name=`${photo.name}` onclick="previewImage(this);")
                #previewModal.modal.fade(tabindex='-1' aria-labelledby='previewModalLabel' aria-hidden='true')
                  .modal-dialog.modal-dialog-centered.modal-dialog-scrollable.modal-xl
                    .modal-content
                      .modal-header
                        h5#previewModalLabel.modal-title Image preview
                        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                      .modal-body
                        div.d-flex.justify-content-center.align-items-center
                          button.btn.btn-secondary.me-2(id="zoomInBtn") 
                            <i class="bi bi-zoom-in"></i>
                            | Zoom In

                          button.btn.btn-secondary(id="zoomOutBtn") 
                            <i class="bi bi-zoom-out"></i>
                            | Zoom Out
                        .py-2
                          img#previewImage.img-fluid.mx-auto.d-block(src=`img.png` alt='Image preview' width="40%" height="auto") 
                .card-body
                  p.card-text
                    = photo.name
                  .d-flex.justify-content-between.align-items-center
                    small.text-muted
                      = photo.createdAt.toLocaleString('en-us', {day: 'numeric', month: 'long', year: 'numeric'})   
  // Modal
  #uploadModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='uploadModalLabel' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#uploadModalLabel.modal-title Upload Files
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body
          form.form-uploadPhotos
            .form-group.py-2
              label(for='imageUpload') Select files to upload:
              input#imageUpload.form-control-file(type='file' accept='image/*' name='images[]' multiple)
            .form-group.py-2
              label(for='imageLabel') Label
              select#imageLabel.form-select(required='')
                option(value='') Daily
                option Foods
                option Photography
            button.btn.btn-primary(type='submit') Upload
        .modal-footer
          p.text-muted.fs-6 Images will be uploaded to AWS S3 bucket bucket hold by yuewei

  script.
    function zoomIn() {
      var img = document.getElementById("previewImage");
      var currentWidth = img.clientWidth;
      img.style.width = (currentWidth + 50) + "px";
    }

    function zoomOut() {
      var img = document.getElementById("previewImage");
      var currentWidth = img.clientWidth;
      img.style.width = (currentWidth - 50) + "px";
    }

    function previewImage(link) {
      var name = link.getAttribute("data-name");
      var modal = document.getElementById("previewModal");
      var title = modal.querySelector(".modal-title");
      var image = modal.querySelector(".img-fluid");
      image.src = `https://yjphotos.s3.us-west-1.amazonaws.com/${name}`
      title.textContent = name;

      var zoomInBtn = document.getElementById("zoomInBtn");
      var zoomOutBtn = document.getElementById("zoomOutBtn");
      zoomInBtn.addEventListener("click", zoomIn);
      zoomOutBtn.addEventListener("click", zoomOut);
    }

