extends base

block content
    .align-items-center.text-center
        .col.center-block.mx-auto
            img.underconstruction-img(src='/img/ouch.png' alt='ouch')
        .col
            h2.heading-secondary.heading-secondary--error Uh oh! Site is under construction!   
        
