extends base

block content
    main.main
    .error
        .error__title
            h2.heading-secondary.heading-secondary--error Uh oh! Site is under construction!   
            img.underconstruction-img(src='/img/ouch.png' alt='ouch')
