extends base


mixin comment(comment)
	.d-flex.flex-start.mt-2
		img.rounded-circle.shadow-1-strong.me-3(src='/img/laugh.png' alt='avatar' width='45' height='45')
		.flex-grow-1.flex-shrink-1
			div
				.d-flex.justify-content-between.align-items-center
					p.mb-1
						=comment.author.name
						span.small 
							=`-${comment.createdAt.toLocaleString('en-us', {day: 'numeric', month: 'long', year: 'numeric'})}`
					a(href='#')
						span
							i.fa.fa-reply
							|  reply
				p.small.mb-1
					=comment.content
			if comment.children.length
				each child in comment.children 
					+comment(child)


block content
	.card.text-bg-light.vh-100.d-flex.flex-column#card-start
		img.card-img(src=`https://yjcovers.s3.us-west-1.amazonaws.com/${post.imageCover}` onerror="this.onerror=null; this.src='/img/cardDefaultImg.jpeg'" alt='Alternative text' style='object-fit: cover; height: 100%; width: 100%;')
		.card-img-overlay.d-flex.flex-column.justify-content-end
			h1.display-4.fst-italic.text-body-emphasis.text-cover.py-2= post.title
			a(href='#anchor')
				botton.btn.btn-outline-dark.btn-lg.align-self-start.fs-2 Explore
	main.py-3
		#anchor.bg-light.rounded-3
			.container-fluid.py-1
				textarea#post-content-viewer= post.content

	section.gradient-custom
		.container-fluid.py-2
			.row.d-flex.justify-content-center
				.col-md-12
					.card
						.card-body.p-4
							h4.border-bottom.text-center.mb-4.pb-2 Comments
							.row
								.col
									if post.comments.length
										each comment in post.comments 
											+comment(comment)
						.card-footer.py-3.border-0(style='background-color: #f8f9fa;')
							if user
								.d-flex.flex-start.w-100
									img.rounded-circle.shadow-1-strong.me-3(src='/api/v1/users/getUserPhoto' alt='avatar' width='40' height='40')
									.form-outline.w-100
										textarea#textAreaExample.form-control(rows='4' style='background: #fff;')
										label.form-label(for='textAreaExample') Message
								.float-end.mt-2.pt-1
									button.btn.btn-primary.btn-sm(type='button') Post comment
									button.btn.btn-outline-primary.btn-sm(type='button') Cancel
							else 
								p.col-md-4.mb-0.text-muted You have to 
									a(href="/login")
										| log in
									|  first to leave comments.
							



